<!-- her.component.html -->

<section class="vintage-bg vintage-text px-6 pt-24 pb-20 md:pt-32 md:pb-32">
    
    <div class="max-w-4x1 mx-auto text-center">
        <h1 class="text-[32px] md:text-[62px] vintage-heading mb-4 leading-tight">
            Repuestos con historia, <br class="hidden md:block"/>
            calidad que perdura
        </h1>

        <p class="text-lg md:text-x1 vintage-body max-w-2x1 mx-auto mb-8">Descubre piezas únicas para restaurar, mantener o potenciar tu auto. 
        ¡Compra como en los talleres de antes!</p>

        <a 
            routerLink="/productos"
            class="bg-[var(--vintage-rojo)] text-white px-6 py-3 rounded-lg shadow hover:bg-[#72251e] transition font-semibold uppercase tracking-wide vintage-body">
            Ver productos
        </a>
    </div>
</section>